.header {
    top: 0;
    z-index: 3;
    box-shadow: 0px 0px 5px #797979;
}
.navbar__img {
    height: 34px;
}

.nav-item a {
    padding: 0;
    margin-right: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
} 

.nav-item a:hover {
    border-bottom-color: #333;
}

.navbar__icon {
    display: none;
}
.container {
    position: relative;
}

.text-dark {
    opacity: 0.9;
}

.banner {
    position: relative;
}

.blur {
    background-color: rgba(12,12,36,.55);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.social {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: -30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
    
    
}
.social__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.social__item {
    width: 33.3334%;
    
}

.social__item a{
    color: #152036;
    text-decoration: none;
}

.social__icon {
    position: relative;
    top: 50%;
    transform: translateY(-40%);
}

.social__link_name {
    left: 12%;
    top: 55%;
    transform: translateY(-50%);
}

.about {
    padding-top: 75px;
    padding-bottom: 75px;
}

.about__info {
    display: flex;
}

.about__text {
    text-align: justify;
}

.about__video iframe {
    width: 100%;

}

.about__benefit {
    margin-top: 75px;
}

.banner__main img ,
.banner__main img ,
.banner__main img {
    width: 100%;
    height: 100%;
}

.customer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.customer-say {
    font-size: 27px;
}

.customer img {
    height: 415px;
}

.job {
    padding-top: 70px;
    padding-bottom: 70px;

}

.job__head {
    margin-bottom: 60px !important;
}

.job__item {
    background-color: #fff;
    padding: 20px;
    padding-right: 160px;
    border-radius: 10px;
}

.job__item:hover {
    background-color: #152036;
}

.job__item:hover .job__title a,
.job__item:hover .job__desc,
.job__item:hover .job__desc .job__icon,
.job__item:hover .job__desc a {
    color: #fff;
}

.job__item:hover .btn {
    background-color: #fff;
    color: #152036;

}

.job__title a {
    color: #152036;
}



.job__desc,
.job__desc a,
.job__icon {
    color: #707070;
}

.btn {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    background-color: #152036;
    color: #fff;
}

.pagination__item {
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 0.8;
    
}

.pagination__item:hover {
    border-color: #152036;
}

.pagination__item-active {
    border: 1px solid #152036;
}

.pagination__item-active:hover {
    border-color: #707070;
    opacity: 0.8;
}

.pagination-dots-three {
    cursor: default;
}

.footer {
    background-color: #152036;
}

.footer__top {
    padding-top: 70px;
}

.footer__logo img {
    height: 34px;
}


.component__top {
    padding: 15px;
    background-color: #152036;
    right: 10%;
    top: 70%;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
    z-index: 3;

}





